<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!-- <table border='1'> -->
        <!-- <tr> -->
        <!-- <td><a href="/riders">Rider</a></td> -->
        <!-- <td><a href="/drivers">Driver</a></td> -->
        <!-- <td><a href="/ridertrips">Rider Trips</a></td> -->
        <!-- <td><a href="/trips">trips</a></td> -->
        <!-- </tr> -->
    <!-- </table> -->

    <h4>RIDER MODULES<br></h4>
    <a href="/riders" style="text-decoration:none"><input type="button" value="Rider Profile"></a><br><br>
    <a href="/ridertrips" style="text-decoration:none"><input type="button" value="Rider Trips"></a>

  </body>
</html>
