<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to OmRia.com - Omprengan Syariah</h1>
    <h4><i>~ where your islamic transportation demand are our priorities ~</i></h4>
    <h4>HOMEPAGE</h4>
    <br>
    <br>
    <!-- REGISRTATION FORM:<br>
    <br>
    <a href="/register/driver" style="text-decoration:none"><input type="button" value="REGISTER DRIVER"><br></a>
    <br>
    <a href="/register/rider" style="text-decoration:none"><input type="button" value="REGISTER RIDER"><br></a>
    <br>
    <br>
    LOGIN FORM:<br>
    <br>
    <a href="/login/driver" style="text-decoration:none"><input type="button" value="LOGIN DRIVER"><br></a>
    <br>
    <input type="button" value="LOGIN RIDER"><br>
 -->
    <%- include ../partials/menuRider %>


  </body>
</html>
