<!DOCTYPE html>
<html>
<head>
    <title>OmRia.com</title>
</head>
<body>

    <h1>OMRIA.COM - Omprengan Syariah</h1>
    <h4><i>~ where your islamic transportation demand are our priorities ~</i></h4>
    <h3>LOGIN FORM <br></h3>
    <br>
    <a href="/login/driver" style="text-decoration:none"><input type="button" value="LOGIN DRIVER"></a><br>
    <br>
    <a href="" style="text-decoration:none"><input type="button" value="LOGIN RIDER"></a><br>

</body>
</html>