<!DOCTYPE html>
<html>
<head>
    <title>OmRia.com</title>
</head>
<body>

    <h1>OMRIA.COM - Omprengan Syariah</h1>
    <h4><i>~ where your islamic transportation demand are our priorities ~</i></h4>
    <h3>REGISTRATION FORM <br></h3>
    <br>
    <a href="/register/driver" style="text-decoration:none"><input type="button" value="DAFTAR DRIVER"></a><br>
    <br>
    <a href="/register/rider" style="text-decoration:none"><input type="button" value="DAFTAR RIDER"></a><br>

</body>
</html>