<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>List</h1>

    <table border='1'>
        <tr>
          <td><center>Id.</center></td>
          <td><center>Driver</center></td>
          <td><center>Max Capacity</center></td>
          <td><center>Status</center></td>

        </tr>
      <% let i=1 %>
      <% data.forEach(data =>{ %>
        <tr>
          <td><%= i++ %></td>
          <td><%= data.Driver.getFullName() %></td>
          <td><%= data.MaxCapacity %></td>
          <td><%= data.Status %></td>

        </tr>

      <% })%>
    </table>

    <a href="/ridertrips">Back</a>
  </body>
</html>
