<!DOCTYPE html>
<html>
<head>
    <title>OmRia.com</title>
</head>
<body>
    <header>
        <%= title %>
    </header>

    <form method="POST">
        Trip Max Capacity:
        <input type="text" name="MaxCapacity" style="height:25px;width:100%;border-radius: 5px;">
        Trip Status:
        <input type="text" name="Status" style="height:25px;width:100%;border-radius: 5px;">
        Driver Id:
        <input type="text" name="DriverId" style="height:25px;width:100%;border-radius: 5px;">
        <input type="submit" value="Add New Trip" >
    </form>
    
</body>
</html>