<!DOCTYPE html>
<html>
<head>
    <title>OmRia.com</title>
</head>
<body>
    <header>
        <%= title %>
    </header>

    <form method="POST">
        Driver Id:
        <input type="text" name="DriverId" style="height:25px;width:100%;border-radius: 5px;">
        Trip Max Capacity:
        <input type="text" name="MaxCapacity" style="height:25px;width:100%;border-radius: 5px;">
        Trip Status:
        <select name="Status" style="height:35px;width:100%;">
            <option value="Open-Trip">Open Trip</option>
        </select>
        <input type="submit" value="Add New Trip" >
    </form>
    
</body>
</html>