<!DOCTYPE html>
<html>
<head>
    <title>OmRia.com</title>
</head>
<body>
    <header>
        <%= title %>
    </header>

    <form method="POST">

        Trip Max Capacity:
        <input type="text" name="MaxCapacity" style="height:25px;width:100%;border-radius: 5px;" value="<%=trip.MaxCapacity%>">
        Trip Status:
        <select name="Status" style="height:35px;width:100%;">
            <option value="Open-Trip">Open Trip</option>
            <option value="Full">Fully Booked</option>
            <option value="On-Trip">On Trip</option>
            <option value="End-Trip">End Trip</option>
        </select>
        <input type="submit" value="Save" >
    </form>

</body>
</html>
